@{}

@model NewApp1.Models.Entities.Salary

@{
    ViewData["Title"] = "Edit Salary";
}

<h2>Add New Salary</h2>

<form method = "post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="SalaryID" class="control-label"></label>
        <input asp-for="SalaryID" class="form-control" readonly/>
        <span asp-validation-for="SalaryID" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="EmployeeID" class="control-label"></label>
        <input asp-for="EmployeeID" class="form-control" readonly/>
        <span asp-validation-for="EmployeeID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SalaryValue" class="control-label"></label>
        <input asp-for="SalaryValue" class="form-control" />
        <span asp-validation-for="SalaryValue" class="text-danger"></span>
    </div>

        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}